<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>
<main>
<h1><%= title %></h1>
<p>Airline: <%= flight.airline %></p>
<p>Departure airport: <%= flight.airport %></p>
<p>Departure date: <%= flight.departs %></p>
<p>Flight number: <%= flight.flightNo %></p>
<a href="/flights/<%= flight._id %>/edit">Edit Flight</a>

<% if (flight.tickets.length) { %>

  <h2>Tickets</h2>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(function (ticket) 
      { %>
        <tr>
          <td><%= ticket.seat %></td>
          <td><%= ticket.price %></td>
        </tr>
      <% }) %>
      
    </tbody>
    </table>
 
<% } else { %>
  <p>No tickets added yet</p>
<% } %>


<h2>Add a ticket</h2>
<form 
id="add-ticket-form"
action="/flights/<%= flight._id %>/tickets"
method="POST">
<label for="seat-input">Seat Number:</label>
<input name="seat" id="seat-input" required pattern="[A-F][1-9]\d?">
<label for="price-input">Price:</label>
<input name="price" id="price-input">
<button type="submit">Add Ticket</button>
</form>

<h2>Meals offered on this flight:</h2>
      <ul>
        <% flight.meals.forEach(meal => { %>
          <li><%= meal.name %></li>
        <% }) %>
      </ul>
      
<h2>Add a meal</h2>
<form id="add-per-to-meals" action="/flights/<%= flight._id %>/meals" method="POST">
    <select name="mealId">
      
      <% meals.forEach(meal => { %>
        
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
      
    </select>
    <button type="submit">Add to meals</button>

</main>

<%- include('../partials/footer') %>